<div class="mx-auto w-75">
    <h3>Contents of your cart.</h3>
    <h6>Total Amount : INR </h6>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Sr. No.</th>
                <th scope="col">Order</th>
                <th scope="col">Cost</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Cheese Chilli Toast</td>
                <td>250</td>
            </tr>
            <tr>
                <th scope="row">Total</th>
                <td></td>
                <td>250</td>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-primary" routerLink="/track-order">Place Order</button>
    <button class="btn btn-secondary" routerLink="/home">Home</button>
</div>