<div class="row d-flex justify-content-center">
    <div class="col-sm-6">
        <div class="card text-center">
            <div class="card-header">
                Reset Password
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group row">
                        <div class="col-xs-4 col-sm-4 col-md-4 text-right">
                            <label for="email" class="col-form-label">E-Mail Address</label>
                        </div>
                        <div class="col-xs-7 col-sm-7 col-md-7">
                            <input type="text" name="email" id="email" class="form-control input-sm">
                        </div>
                    </div>
                    <div class="offset-md-1">
                        <input type="submit" value="Send Password Reset Link" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>